<div id="<%= dom_id death %>">
  <p>
    <strong>Age:</strong>
    <%= death.age %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= death.year %>
  </p>

  <p>
    <strong>Era:</strong>
    <%= death.era_id %>
  </p>

  <p>
    <strong>Movie character:</strong>
    <%= death.movie_character_id %>
  </p>

</div>
