<%= form_with(model: pronoun) do |form| %>
  <% if pronoun.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pronoun.errors.count, "error") %> prohibited this pronoun from being saved:</h2>

      <ul>
        <% pronoun.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :gender_id, style: "display: block" %>
    <%= form.text_field :gender_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
