<div id="<%= dom_id movie_character %>">
  <p>
    <strong>Name:</strong>
    <%= movie_character.name %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= movie_character.image_url %>
  </p>

  <p>
    <strong>One wiki url:</strong>
    <%= movie_character.one_wiki_url %>
  </p>

  <p>
    <strong>Tolkien wiki url:</strong>
    <%= movie_character.tolkien_wiki_url %>
  </p>

  <p>
    <strong>Pronunciation:</strong>
    <%= movie_character.pronunciation %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= movie_character.gender_id %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= movie_character.height %>
  </p>

  <p>
    <strong>Culture:</strong>
    <%= movie_character.culture_id %>
  </p>

  <p>
    <strong>Spouse:</strong>
    <%= movie_character.spouse %>
  </p>

  <p>
    <strong>Mother:</strong>
    <%= movie_character.mother %>
  </p>

  <p>
    <strong>Father:</strong>
    <%= movie_character.father %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie_character.description %>
  </p>

</div>
