<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Release year:</strong>
    <%= movie.release_year %>
  </p>

  <p>
    <strong>Lengt theatrical:</strong>
    <%= movie.lengt_theatrical %>
  </p>

  <p>
    <strong>Length extended:</strong>
    <%= movie.length_extended %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= movie.image_url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie.description %>
  </p>

  <p>
    <strong>Wikipedia:</strong>
    <%= movie.wikipedia %>
  </p>

</div>
