<div id="<%= dom_id weapon %>">
  <p>
    <strong>Name:</strong>
    <%= weapon.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= weapon.type %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= weapon.image_url %>
  </p>

  <p>
    <strong>Movie character:</strong>
    <%= weapon.movie_character_id %>
  </p>

</div>
