<%= form_with(model: nickname) do |form| %>
  <% if nickname.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(nickname.errors.count, "error") %> prohibited this nickname from being saved:</h2>

      <ul>
        <% nickname.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :movie_character_id, style: "display: block" %>
    <%= form.text_field :movie_character_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
