<div id="<%= dom_id appearance_extended %>">
  <p>
    <strong>Minute:</strong>
    <%= appearance_extended.minute %>
  </p>

  <p>
    <strong>Second:</strong>
    <%= appearance_extended.second %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= appearance_extended.movie_id %>
  </p>
  
  <p>
    <strong>Image:</strong>
    <%= appearance_extended.image %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= appearance_extended.body %>
  </p>

</div>
