<div id="<%= dom_id appearance_theatrical %>">
  <p>
    <strong>Minute:</strong>
    <%= appearance_theatrical.minute %>
  </p>

  <p>
    <strong>Second:</strong>
    <%= appearance_theatrical.second %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= appearance_theatrical.movie_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= appearance_theatrical.image %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= appearance_theatrical.body %>
  </p>

</div>
