<div>
  <nav>
    <%= link_to "movie_characters", movie_characters_path, :style => "display: inline-block;" %>
    <%= link_to "movies", movies_path, :style => "display: inline-block;" %>
    <%= link_to "cultures", cultures_path, :style => "display: inline-block;" %>
    <%= link_to "eras", eras_path, :style => "display: inline-block;" %>
    <%= link_to "actors", actors_path, :style => "display: inline-block;" %>
    <%= link_to "births", births_path, :style => "display: inline-block;" %>
    <%= link_to "deaths", deaths_path, :style => "display: inline-block;" %>
    <%= link_to "appearance_theatricals", appearance_theatricals_path, :style => "display: inline-block;" %>
    <%= link_to "appearance_extendeds", appearance_extendeds_path, :style => "display: inline-block;" %>
    <%= link_to "genders", genders_path, :style => "display: inline-block;" %>
    <%= link_to "nicknames", nicknames_path, :style => "display: inline-block;" %>
    <%= link_to "pronouns", pronouns_path, :style => "display: inline-block;" %>
    <%= link_to "titles", titles_path, :style => "display: inline-block;" %>
    <%= link_to "weapons", weapons_path, :style => "display: inline-block;" %>
  </nav>
</div>